.hero {
    width: 100%;
    height: 80vh;
    /* background-color: orange; */
    background-image: url('../../../assets/img/kornyezetvedelem/SF2.jpg');
    
    background-size: cover;
 
    display: flex;
    border: 5px solid black;
    font-weight: bold;
  }
  .row{
    border: 1px groove;
    /* height: 500px; */
    width: 900px;
    overflow-wrap: break-word;
  }
  button{
    margin-left: 10px;
  }
  .col{
   border: 2px groove;
  }